@font-face{
  font-family: "FontEaster";
  src: url('EasterFont.ttf')
}

.modal-wrapper {
  background: whitesmoke;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  transition: all .8s;
  width: 40%;
  position: absolute;
  z-index: 4;
  margin: auto;
  border-radius: 30px;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 50%);
  opacity: 0.9;
}

.gameOver {
  color: #e7f14e !important;
  background-color: #2ac8f0;
  padding: 1.3rem;
  font-weight: 900 !important;
  font-size: 50px !important;
  letter-spacing: 0.1em;
  border-radius: 10%;
  margin-left: 15%;
  cursor: pointer;
}

.gameOver:hover{
background-color: black;
}

h1{
  font-family: "FontEaster";
  text-align: center;
  font-size: 450%;
}

