.Background {
  text-align: center;
  background: url('./assets/BackgroundKitchen.jpg') no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;    
}

.h1-kitchen{
    font-family: "FontEaster";
    font-size: 450%;
    position: absolute;
    padding-bottom: 450px;
}

.Chaudron{
  height: 70%;
  width: 35%;
  justify-content: center;
  margin-top: 140px; 
  position: absolute;
}

.Placement{
margin-right: 1000px;
display: flex;
flex-direction: column;
overflow-y: scroll;
height: 500px;
}

.Placement::-webkit-scrollbar-thumb{
  border: 2px solid black;
  background-color: black;
}

.Placement::-webkit-scrollbar:vertical{
  width: 11px;
}

.buttonKitchen1{
color: Black !important;
background-color:grey;
padding: 1.3rem;
font-weight: 900 !important;
font-size: 30px !important;
letter-spacing: 0.1em;
border-radius: 10%;
cursor: pointer;
min-width: 250px;
}

.buttonKitchen1:hover{
background-color: white;
}

.buttonKitchen2{
color: Black !important;
background-color: rgb(236, 240, 236);
padding: 1.3rem;
font-weight: 900 !important;
font-size: 30px !important;
letter-spacing: 0.1em;
border-radius: 10%;
cursor: pointer;
margin-bottom: 10px;
min-width: 250px;
}

.buttonKitchen2:hover{
background-color: white;
}

.buttonKitchen3{
color:Black !important;
background-color: #5ceb4a;
padding: 1.3rem;
font-weight: 900 !important;
font-size: 30px !important;
letter-spacing: 0.1em;
border-radius: 10%;
cursor: pointer;
margin-bottom: 10px;
min-width: 250px;
}

.buttonKitchen3:hover{
background-color: white;
}

.buttonKitchen4{
color:Black !important;
background-color: #01c8fa;
padding: 1.3rem;
font-weight: 900 !important;
font-size: 30px !important;
letter-spacing: 0.1em;
border-radius: 10%;
cursor: pointer;
margin-bottom: 10px;
min-width: 250px;
}

.buttonKitchen4:hover{
background-color: white;
}

.buttonKitchen5{
color:Black !important;
background-color: #8b5ebe;
padding: 1.3rem;
font-weight: 900 !important;
font-size: 30px !important;
letter-spacing: 0.1em;
border-radius: 10%;
cursor: pointer;
margin-bottom: 10px;
min-width: 250px;
}

.buttonKitchen5:hover{
background-color: white;
}

.buttonKitchen6{
color:Black !important;
background-color: #ff009d;
padding: 1.3rem;
font-weight: 900 !important;
font-size: 30px !important;
letter-spacing: 0.1em;
border-radius: 10%;
cursor: pointer;
margin-bottom: 10px;
min-width: 250px;
}

.buttonKitchen6:hover{
background-color: white;
}

.buttonKitchen7{
color:Black !important;
background-color: #f70000;
padding: 1.3rem;
font-weight: 900 !important;
font-size: 30px !important;
letter-spacing: 0.1em;
border-radius: 10%;
cursor: pointer;
margin-bottom: 10px;
min-width: 250px;
}

.buttonKitchen7:hover{
background-color: white;
}

.buttonKitchen8{
color:Black !important;
background-color: #eeff00;
padding: 1.3rem;
font-weight: 900 !important;
font-size: 30px !important;
letter-spacing: 0.1em;
border-radius: 10%;
cursor: pointer;
margin-bottom: 10px;
min-width: 250px;
}

.buttonKitchen8:hover{
background-color: white;
}

.Chaudron{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: img linear infinite;
  transform-origin: 60%;
  -webkit-animation: img 3s infinite;
  animation-direction: alternate;
}

@keyframes img{
  0% {
      transform:  rotate(0deg) ;
  }
  10% {
      transform:  rotate(-5deg) ;
  }
  20% {
      transform:  rotate(5deg) ;
  }
  30% {
      transform:  rotate(-5deg) ;
  }
  40% {
      transform:  rotate(5deg) ;
  }
  50% {
  transform:  rotate(0deg) ;
  }
  100%{
      transform:  rotate(0deg) ;
  }
  }
  
  @-webkit-keyframes img{
  0% {
      -webkit-transform:  rotate(0deg) ;
  }
  10% {
      -webkit-transform:  rotate(-5deg) ;
  }
  20% {
      -webkit-transform:  rotate(5deg) ;
  }
  30% {
      -webkit-transform:  rotate(-5deg) ;
  }
  40% {
      -webkit-transform:  rotate(5deg) ;
  }
  41% {
      -webkit-transform:  rotate(0deg) ;
  }
  100%{
      -webkit-transform:  rotate(0deg) ;
  }
}

.MilkKitchen{
    display: flex;
    color: Black !important;
    background-color:grey;
    padding: 1.3rem;
    font-weight: 900 !important;
    font-size: 30px !important;
    letter-spacing: 0.1em;
    border-radius: 10%;
    cursor: pointer;
    margin-bottom: 10px;
    }
    
.MilkKitchen:hover{
    background-color: white;
    }


.ChocolateKitchen{
  display: flex;
  color: Black !important;
  background-color:grey;
  padding: 1.3rem;
  font-weight: 900 !important;
  font-size: 30px !important;
  letter-spacing: 0.1em;
  border-radius: 10%;
  cursor: pointer;
  margin-bottom: 10px;
  }
  
.ChocolateKitchen:hover{
  background-color: white;
  }

.EggKitchen{
    display: flex;
    color: Black !important;
    background-color:grey;
    padding: 1.3rem;
    font-weight: 900 !important;
    font-size: 30px !important;
    letter-spacing: 0.1em;
    border-radius: 10%;
    cursor: pointer;
    margin-bottom: 10px;
    }
    
  .EggKitchen:hover{
    background-color: white;
    }

.Milkkkk{
  width: 2em;
  height: 2em;
}

.Chocolatekitchen{
  width: 2em;
  height: 2em;
}

.Eggkitchen{
  width: 2em;
  height: 2em;
}

.Baaaa{
  color: white;
}