.Background {
    text-align: center;
    background: url('./assets/BackgroundKitchen.jpg') no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
  }

.Chaudron{
    height: 70%;
    width: 35%;
    justify-content: center;
    margin-top: 110px; 
    position: absolute 
}

.Placement{
  margin-right: 1200px;
}

.buttonKitchen{
  display: flex;
}